*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    text-align: center;
}

header > h1{
    color: #e53170;
    margin-top: 30px;
}

#section > p{
    margin-top: 30px;
}

.container{
    text-align: center;
}

.bordo{
    margin-top: 40px;
    margin-left: 25px;   
    width: calc(100% / 3 - 25px);  
    background-color: black;
    box-shadow: 5px  5px 5px #d5d5d4,
    -5px -5px 5px #d5d5d4,
     5px -5px 5px #d5d5d4,
    -5px  5px 5px #d5d5d4;
}

.float-left{
    float: left;
}

.clearfix::after{
    clear: both;
    display: table;
    content: "";
}

.info{
   text-align: left;
   margin-top: 15px;
   margin-left: 15px;
   font-size: 12px;
}

.info h3{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

.info h5{
    color: #fff;
    font-size: 13px;
}

.info a{
    color: #65c0de;
    text-decoration: none;
    margin-top: 5px;
}

.immagine{
    width: 100px;
}

img{
    width: 100%;
    display: block;
}

.shadow{
    box-shadow: 5px red;
}


/* .container > div{
    width: 33%;
    border: 2px solid black;
} */

/* 

 */

