*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    font-family: 'Shadows Into Light', cursive;
    max-width: 1200px;
    text-align: center;
}

header > h1{
    color: #e53170;
    margin-top: 30px;
}

article > p{
    margin-top: 30px;
}