*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    font-family: 'Shadows Into Light', cursive;
    max-width: 1200px;
    text-align: center;
}

header > h1{
    color: #e53170;
    margin-top: 30px;
}

article > p{
    margin-top: 30px;
}

.bordo{
    border: 2px solid black;
    margin-top: 30px;
    margin-right: 20px;
    width: calc(100% / 3 - 40px);
}

.float-left{
    float: left;
}

.clearfix::after{
    clear: both;
    display: table;
    content: "";
}

.info{
   margin-top: 50px;
}

/* img{
    width: 100%;
} */

/* .container > div{
    width: 33%;
    border: 2px solid black;
} */

/* 

 */

